/* ====== hero video ====== */
video.fill {
	float: right; 
	margin-left: -98px; 
	margin-top: 50px;
	width: 100%;
}

.knock-icon {
	background-color: #FCFC38;
	color: #272F30;
	font-family: "Archivo Black", sans-serif;
	font-size: 2.5em;
	height: 130px;
	padding-top: 10px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 600px;
	width: 160px;
}

.down-icon {
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 40px solid #272F30;
	height: 0;
	margin-top: 10px;
	margin-left: 18px;
	width: 0;
}

/* ====== header ====== */
.header {
	background: #272F30;
	color: #ffffff; 
	display: inline-block;
	font-size: 1em;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.brand {
	color: #ffffff; 
	font-size: 1.4em;
	font-family: "Archivo Black", sans-serif;
	letter-spacing: 2px;
	margin: 8px 0 0 20px;
}

.brand:hover {
	color: #FCFC38;
	text-decoration: none; 
}

/* ====== link styles ====== */
nav {
	bottom: 15px;
	position: absolute; 
	right: 30px;
}

nav, a {
	text-decoration: none;
}

ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin-left: 15px;
}

a {
}

a:hover {
	color: #fff;
}

a.links {
	color: #fff;
	font-family: "Work Sans" sans-serif;
	font-weight: 400;
	letter-spacing: .8px;
	position: relative;
}

a.links:hover:after {
	border-bottom: 1px solid #fff;
	bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
}

/* ====== section styles ====== */
section {
	padding-left:15%;
	padding-right: 15%;
	margin-top: 50px;
}

div.how-it-works {
	background-color: white;
	clear: both;
}

div.grey-bar {
	background-color: #272F30;
	height: 100px;
	width: 100%
}

div.volunteers {
	background-color: #63B1F8;
	height: auto;
  	display: inline-block;
  	height: auto;
    position: relative;
    width: 100%;
}

div.volunteers:before {
	border-bottom: 35px solid #63B1F8;
  	border-left: 850px solid #272F30;
  	border-right: 750px solid #272F30;
  	content: "";
  	left: 0;
  	position: absolute;
  	top: -35px;
  	width: 0;
}

div.get-involved {
	background-color: white;
	height: auto;
	display: inline-block;
  	height: auto;
    position: relative;
    width: 100%;
}

div.get-involved:before {
	border-bottom: 35px solid #fff;
  	border-left: 500px solid transparent;
  	border-right: 1000px solid transparent;
  	content: "";
  	height: 0;
  	left: 0;
  	position: absolute;
  	top: -35px;
  	width: 0;
}


h2.section-header {
	background-color: #FCFC38;
	display: inline-block;
	font-family: "Archivo Black", sans-serif;
	font-size: 3.5em;
	margin: 50px 0 30px 0;
}

p {
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	font-size: 1.3em;
}

/* === button style === */
.btn-main {
	background-image: url(images/btn_main@2x.png);
	background-size: cover;
	background-position: center center;
	border-bottom: 2px solid #272F30;
	border-right: 2px solid #272F30;
	clear: both;	
	font-family: "Archivo Black", sans-serif;
	font-size: 1.5em;
	height: 50px;
	margin-bottom: 75px;
	margin-top: 75px;
	position: relative;
	text-align: center;
	padding-top: 8px;
	width: 150px;
}

/* ====== how it works ====== */
.list-item {
	margin: 20px 0 20px 0;
}


img {
	height: 100px;
}

p.list-text {
	margin-top: 25px;
}


/* ====== meet our volunteers  ====== */
.profile-container {
	width: 100%;
}

.profile {
	float: left;
	margin: 20px 0 40px 0;
	padding: 20px;
	width: 100%;
}

.profile:hover {
	background-color: #92CFFC;
}

@media (min-width: 600px) {
	.profile {
		width: 50%;
	}
}

h4.name {
	margin: 10px 0 10px 0;
}

p.description {
	margin: 15px 0 20px 0;
}

/* === get involved === */



/* ====== footer ====== */
footer {
	background: #272F30;
	color: #000000;
	font: "Mukta Vaani", sans-serif;
	font-family: "Mukta Vaani", sans-serif;
	font-size: 1em;
	font-weight: 200;
	height: 100px;
	padding-top: 20px;
	text-align: center;
	width: 100%; 
}
footer a {
	color: #a1a1a1;
	margin: 25px; 
}

.copyright {
	font-size: 1em;
	color: #a1a1a1;
	margin-bottom: 30px; 
}


